
.main {
	position: relative;
}

.figure {
	position: relative;
}

	.figure[data-sortable="1"] .canvas {
		cursor: move;
	}

.canvas {
	float: left;

	position: relative;
	top: 0;
	left: 0;

	font-family: 'Cabin', 'Open-Sans', sans-serif;
    color: #474747;
	font-weight: normal;
}

.graph .background {
	fill: none;
	stroke: none;
}

.graph .area {
	fill: #474747;
	stroke: none;
	fill-opacity: 1;
}

.graph .line {
	fill: none;
	stroke: #474747;
	stroke-width: 2;
	stroke-opacity: 90%;
}

.graph .column {
	fill: #474747;
	stroke: #aaa;
	stroke-width: 1;
	stroke-opacity: 90%;
}

.panel .graph .area,
.graph[data-graph-type="kde"] .area,
.graph[data-graph-type="kde-overlay"] .area {
	opacity: 0.35;
}

.panel .graph .area[data-label="data 0"],
.graph[data-graph-type="kde-overlay"] .area[data-label="data 0"] {
	fill: #F17CB0;
}

.panel .graph .area[data-label="data 1"],
.graph[data-graph-type="kde-overlay"] .area[data-label="data 1"] {
	fill: #5DA5DA;
}

.graph[data-graph-type="line"] .line[data-label="dexdem"] {
	stroke-opacity: 40%;
}

.graph[data-graph-type="line"] .line[data-label="dexaem"] {
	stroke-opacity: 90%;
}

.graph .rug .line {
	stroke: #474747;
	opacity: 0.1;
}

.graph .axis path {
	fill: none;
}

.graph .y.axis path {
	stroke: none;
}

.graph .x.axis path {
	stroke: #aaa;
	stroke-width: 1;
}

.graph .axis line {
	stroke: #aaa;
	stroke-width: 1;
}

.graph .axis .label {
	font-size: 20px;
}

.panel .col-header {
	display: block;
	width: 100%;
	text-align: center;
}

.italic {
	font-style: italic;
}

.subtitle {
	font-size: 28px;
	font-weight: 600;
}

.subtitle.desc {
	font-size: 14px;
	text-align: center;
}

.blue {
	color: #5DA5DA;
}

.pink {
	color: #F17CB0;
}
