

header {
	position: absolute;
	left: 0;
	top: 0;

	height: 60px;
	width: 100%;

	background-image: url( '../img/bkgd/low_contrast_linen_@2X.png' );

	-webkit-box-shadow: 0 2px 2px 0 #bbb;
	   -moz-box-shadow: 0 2px 2px 0 #bbb;
	        box-shadow: 0 2px 2px 0 #bbb;
}

.main {
	position: relative;
	margin-top: 60px;
}

.table .condition {
	cursor: pointer;
}

.table th {
	font-weight: bold;
}

/* Reset cell background-color */
.table-striped > tbody > tr:nth-child(odd) > td {
	background-color: transparent;
}

/* Instead, set row background-color */
.table-striped > tbody > tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.table .condition:hover {
	background-color: rgba(0,0,255,0.1);
}
