

header {
	position: absolute;
	left: 0;
	top: 0;

	height: 60px;
	width: 100%;

	background-image: url( '../img/bkgd/low_contrast_linen_@2X.png' );

	-webkit-box-shadow: 0 2px 2px 0 #bbb;
	   -moz-box-shadow: 0 2px 2px 0 #bbb;
	        box-shadow: 0 2px 2px 0 #bbb;
}

.main {
	position: relative;
	margin-top: 75px;
}

.table .condition {
	cursor: pointer;
}
