<!DOCTYPE html>
<html>
	<head>
		<title>RPo Dynamics</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="RNA polymerase open complex dynamics.">
    	<meta name="author" content="Athan Reines">

    	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel='stylesheet' type='text/css' href="/css/fonts.css" >
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/figure.css">
	</head>
	<body>

		<div class="main"></div>

		<!-- Scripts -->
		<script type="text/javascript" src="/js/lib/d3.min.js"></script>
		<script type="text/javascript" src="/js/lib/lodash.min.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/jquery-ui.min.js"></script>

		<script type="text/javascript" src="/js/lib/xfig.min.js"></script>

		<script type="text/javascript" src="/js/figure.js"></script>
	</body>
</html>